<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>P/r/eddict It! - A CS109 Project</title>
    {% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'visualization/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link rel="stylesheet" type="text/css" href="{% static 'visualization/css/simple-sidebar.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static '/visualization/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">

  </head>

  <body>
  
    <div id="wrapper">
      
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <img id = "logo" src="http://www.redditstatic.com/about/assets/reddit-alien.png">
          <li class="sidebar-brand"><a href="/">P/r/eddict It!</a></li>
          <li><a href="collect">Collecting Data</a></li>
          <li><a href="visualize">Visualizing the Data</a></li>
          <li><a href="build">Building the Model</a></li>
          <li><a href="findings">Findings</a></li>
          <li><a href="about">About</a></li>
        </ul>
      </div>
           <!-- Page content -->
      <div id="page-content-wrapper">
        <div class="content-header">
          <div>

          </div>
          <h1>
            <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
            About the Project
          </h1>
        </div>
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
          <div class="row">
            <div class="col-md-12">
            <iframe width="560" height="315" src="//www.youtube.com/embed/gaTtRLYUFtA" frameborder="0" allowfullscreen></iframe>
            <p class="lead">"P/r/eddict It!" is the final project by Jay Sayre, Serguei Balanovich, and Sebastian Gehrmann created for the course CS109 - Data Science at Harvard University (<a href="cs109.org">Course Website</a>).</p>
            <p class="lead">In this course we experienced how fast a post on the social media website “reddit” can gain attention. A visualization from one of our homworks got into national news due to its unusually “<a href="http://www.reddit.com/r/dataisbeautiful/comments/1q7b3s/voting_relationships_between_senators_in_the/">high score”</a> in the DataIsBeautiful Subreddit. Due to this attention, almost all big media web sites like yahoo covered the visualization that shows the bipartisanship in the US senate..</p>
            <img class="well" src="http://i.imgur.com/aIXIT40.png?1"/>
            <p class="lead">We found it really interesting that a single post could generate such a huge media attention and wondered whether it was at all possible to predict or approximate such success. We took a subset of all subreddits in order to investigate on an individual basis what made any given post successful, both compared to other posts in the subreddit. We chose to concentrate on working only with textual posts and seeing if we were able to predict success..</p>
            <img class="well" width=75% src="http://rack.1.mshcdn.com/media/ZgkyMDEzLzExLzI2LzFkL011bHRpcmVkZGl0LjNiMjUxLmpwZwpwCXRodW1iCTEyMDB4NjI3IwplCWpwZw/09e1aa2d/0a9/Multireddits-1.jpg"/>
            </div>
          </div>
        </div>