<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Preddict It! By Serguei, Jay, and Sebastian</title>
    {% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'visualization/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link rel="stylesheet" type="text/css" href="{% static 'visualization/css/simple-sidebar.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static '/visualization/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">

  </head>

  <body>
  
    <div id="wrapper">
      
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <img id = "logo" src="http://www.redditstatic.com/about/assets/reddit-alien.png">
          <li class="sidebar-brand"><a href="/">Preddict It!</a></li>
          <li><a href="collect">Collecting Data</a></li>
          <li><a href="visualize">Visualizing the Data</a></li>
          <li><a href="build">Building the Model</a></li>
          <li><a href="findings">Findings</a></li>
          <li><a href="about">About</a></li>
        </ul>
      </div>
           <!-- Page content -->
      <div id="page-content-wrapper">
        <div class="content-header">
          <div>

          </div>
          <h1>
            <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
            Building the Model
          </h1>
        </div>
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
          <div class="row">
            <div class="col-md-12">
              <p class="lead">Want to give our project a try? Type in a Reddit Title (existing or fake) below and we'll try our best to predict its score!</p>
            </div>
          </div>
        </div>